<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="container-fluid mx-auto">
  <div class="row text-center">
    <div class="col-xs-12">
      <h3>Moment Js</h3>
      {{dateNow}}
    </div>
  </div>
  <br/>
  <div class="row" style="display: flex;justify-content: center;">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <h3 class="text-center">Ngx Bootstrap</h3>
      <input type="text"
             placeholder="Datepicker"
             class="form-control"
             bsDatepicker>
             &nbsp;
      <input type="text"
             placeholder="Daterangepicker"
             class="form-control"
             bsDaterangepicker>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <app-name-editor></app-name-editor>
      <br>
    </div>
  </div>
  <br>
  <div class="row mb-4" >
    <h3 class="text-center">Angular Material Date Picker</h3>
    <div class="col-xs-12" style="display: flex;justify-content: center;">
      <app-material-date-picker></app-material-date-picker>
      <br>
      <br>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center"> Lazy Load</h3>
  <ul type="none">
    <li>
      <a routerLink="/" routerLinkActive="active">Normal</a>
    </li>
    <li>
     // <a routerLink="/return" routerLinkActive="active">Return</a>
    </li>
    <li>
     // <a routerLink="/check" routerLinkActive="active">Check</a>
    </li>
    <li>
      <router-outlet></router-outlet>
    </li>
  </ul>

    </div>
  </div>
  <br><br>
</div>
  
