<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h3 class="h3 text-center">Form Reactive</h3>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" id="projectName" formControlName="projectName" class="form-control">
            <span class="help-block" *ngIf="!signUpForm.get('projectName').valid && signUpForm.get('projectName').touched">
              <span class="help-block" *ngIf="signUpForm.get('projectName').errors['nameIsForbidden']">This name is invalid!</span>
              <span class="help-black" *ngIf="signUpForm.get('projectName').errors['required']">This field is required!</span>
            </span>
          </div>
  
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" formControlName="email">
            <span class="help-block" *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched">
              Please enter a valid email!
            </span>
          </div>
  
          <div class="form-group">
            <label for="projectStatus">Project Status</label>
            <select name="projectStatus" id="projectStatus" formControlName="projectStatus" class="form-control" >
              <option *ngFor="let status of statusProject;" [value]="status">{{status}}</option>
            </select>
            <span class="help-block" *ngIf="!signUpForm.get('projectStatus').valid && signUpForm.get('projectStatus').touched">
              Please choose the project status!
            </span>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">Submit</button>
        </form>
  
      </div>
    </div>
  </div>